<div class="body">
  <div class="container">
    <p id="notice"><%= flash[:notice] %></p>
    <div class="row">
      <%= render "left_side" %>
      <%= render "right_side" %>
    </div>
  </div>
</div>